.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", tabindex: "-1", id:"showlike"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#showlikeLabel.modal-title ModalLabel
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
      .modal-body
        #showlikeBodyText ModalBodyText
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", type: "button"} Close
